Add csv to eol=crlf files

https://www.ietf.org/rfc/rfc4180.txt

```
*.[cC][sS][vV]          text eol=crlf
```

>    Encoding considerations:
> 
>    As per section 4.1.1. of RFC 2046 [3], this media type uses CRLF
>    to denote line breaks.  However, implementors should be aware that
>    some implementations may use other values.

I'll add it to the list and run a `git add --renormalize .` to update any files already in the repo. Give me maybe 30 minutes.